.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    min-width: 35vmin;
}

.dashboard .robot-profile {
    display: grid;
    grid-template-areas:
            "picture name"
            "picture message";
    width: 80%;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.robot-profile .profile-picture {
    grid-area: picture;
    width: 9vmin;
    height: 9vmin;
    background-color: white;
    border-radius: 20%;
}

.robot-profile .robot-name {
    grid-area: name;
    justify-self: start;
    margin-top: 1vmin;
    margin-right: 10vmin;
}

.robot-profile .robot-message {
    grid-area: message;
    justify-self: start;
    white-space: nowrap;
    margin-bottom: 1vmin;
}

.robot-message .circular-progress {
    margin-left: 10px;
}

.dashboard .score-panel {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.score-panel .score {
    justify-self: start;
    margin-right: auto;
}

.score-panel .score-help {
    width: 3vmin;
    height: 3vmin;
}

.hover-container {
    position: relative;
    display: inline-block;
}

.hover-container .hover-text {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    right: 0;
    margin-left: -60px;
}

.hover-container .hover-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 4%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hover-container:hover .hover-text {
    visibility: visible;
}

.dashboard .intelligence-slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.dashboard .time-limit-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.time-limit-panel .time-limit-input {
    width: 100%;
}

.time-limit-panel .time-limit-switch {
    margin-right: auto;
}

.dashboard .promoting-piece-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.promoting-piece-panel .radio-group {
    display: grid;
    grid-template-areas:
        "queen rook"
        "knight bishop";
}

.promoting-piece-panel .promoting-label{
    margin-left: 1vmin;
}

.radio-group .queen {
    grid-area: queen;
    width: 13vmin;
    height: 13vmin;
    margin: 1vmin;
}

.radio-group .rook {
    grid-area: rook;
    width: 13vmin;
    height: 13vmin;
    margin: 1vmin;
}

.radio-group .knight {
    grid-area: knight;
    width: 13vmin;
    height: 13vmin;
    margin: 1vmin;
}

.radio-group .bishop {
    grid-area: bishop;
    width: 13vmin;
    height: 13vmin;
    margin: 1vmin;
}

[type=radio] {
    position: absolute;
    opacity: 0;
}

[type=radio]+img {
    cursor: pointer;
    outline: 3px solid #909090;
    border-radius: 10%;
}

[type=radio]:checked + img {
    outline: 3px solid #1976D2;
    border-radius: 10%;
}

[type=radio]:disabled + img {
    filter: opacity(20%);
    cursor: default;
}
