.tile {
    display: grid;
    place-content: center;
}

.black {
    background-color: #B6876B
}

.white {
    background-color: #F4DFC1
}

.piece {
    width: 9vmin;
    height: 9vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
}

.draggable {

}

.draggable:hover {
    cursor: grab;
}

.action-hint {
    width: 9vmin;
    height: 9vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    background-color: #88d498;
}

.attack-hint {
    background-color: #e03c3c;
}